!!! 5
html(lang="en")
  head
    title Create New Training Set
  body
    if errors.nonEmpty
      div(class="errors")
        ul
          each error in errors
            li= error
    form(method="POST")
      p Give it a title
      input(type="text", name="name")
      input(type="submit", value="Create")
