-@ val article: info.cmlubinski.newslearning.models.Article

!!!5
html(lang="en")
  head
    title Classify Article
  body
    h1= article.title
    div= article.body
    form(method="POST")
      p Classify
      input(type="hidden" name="article_id" value={article.id})
      input(type="submit" name="classify-yes" value="Yes")
      input(type="submit" name="classify-no" value="No")
